@page
@model DeciderDemo.Pages.Resources

@{
}

<div>
    <a href="https://thinkbeforecoding.com/post/2021/12/17/functional-event-sourcing-decider">Function Event Sourcing Decider</a>
    <text class="small d-block muted">This is the article on which this demo is based.</text>
</div>